@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
    font-family: 'Roboto', sans-serif;
    background: url(img/myimg.jpg) no-repeat center center fixed;
    background-size: cover;
    margin-top: 150px;
    text-align: center;
}